body{
  display: flex;
  justify-content: center;
  background-color: rgb(115, 0, 246);
}
.container{
 height: 500px;
 width: 400px;
 box-shadow: 8px 8px 5px rgba(255, 174, 0, 0.993);
 background-color: white;
 border-radius: 15px;
 position: relative;
  margin-top: 60px;
}
.pfp{
  width: 400px;
  height: 140px;
  display: flex;
  justify-content: center;
}
.img{
 height: 120px;
 width: 120px; 
 margin-top: 30px;
 border-radius: 70px;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
p{
  font-family: Bebas Neue,Arial;
}
.bio{
font-weight: 600;
font-size: 40px ;
margin-bottom: 0;
}
.bio2{
  font-weight: 400;
  font-size: 15px;
}
.insta{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 12px;

}
.ig_logo{
  height: 50px;
  width: 50px;
  border-radius: 12px;
}
.linkedin{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 12px;

}
.lin_logo{
  height: 50px;
  width: 50px;
  border-radius: 12px;
}
.git{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 12px;

}
.git_logo{
  height: 50px;
  width: 50px;
  border-radius: 12px;
}
.x{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 12px;

}
.x_logo{
  height: 50px;
  width: 50px;
  border-radius: 12px;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 40px;
  left: 20px;
  right: 20px;
}
button{
  border: none;
}
